@import "../../../assets/constants.module.scss";
.screen {
  width: 100%;
  padding-top: $height_navigation + 50px;
  padding-right: 240px;
  padding-left: 240px;
  > div {
    display: block;
    width: 100%;
    > div {
      > div:first-child {
        border-top: $color_strokes-secondary 1px solid;
      }
      > div:last-child {
        margin-bottom: 100px;
      }
    }
    > h1 {
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 1000px) {
  .screen {
    padding-right: 20px;
    padding-left: 20px;
  }
}
