@import "../../../../assets/constants.module.scss";
.login_screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: $color_background-secondary;
  .login {
    width: 400px;
    background-color: white;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 5px;
    border: $color_strokes-secondary 1px solid;
  }
}

@media (max-width: $width_mobile) {
  .login_screen {
    margin-top: $height_navigation;
    align-items: flex-start;
    .login {
      border: none;
      border-radius: 0;
      width: 100%;
      height: 100%;
    }
  }
}
