@import "../../../assets/constants.module.scss";

.button {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  @include get-text(16px, 500, #ffff);
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: all 0.2s linear;
  &:disabled {
    background-color: $color_strokes-primary;
    color: $background-secondary;
    cursor: default;
  }
}
